Repository photoview/photoview, pull requests merged in 2024-05, with the labels that each got.

#863 Refactor docker deployment and user setup
  .dockerignore
  .gitignore
  Dockerfile
  README.md
  docker-compose example/Makefile
  docker-compose example/docker-compose.example.yml
  docker-compose example/docker-compose.minimal.example.yml
  docker-compose example/example.env
  docker-compose.example.yml
Labels: bug, documentation, discussion, feature, docker, high priority

#889 Fix download path on custom base path
  ui/src/components/sidebar/SidebarDownloadMedia.tsx
Labels: bug, high priority

#955 Allow SQLite to accept several connections at the same time
  api/database/database.go
Labels: bug, API, scanner, high priority, sqlite, go

#947 Dockerfile: Fail chained command in RUN if some of the commands fails
  Dockerfile
Labels: bug, good first issue, docker, high priority

#954 Fix timeline order with sqlite3. It should be ordered as MySQL and PGSQL like `(year, month, day)`.
  api/graphql/models/actions/timeline_actions.go
Labels: bug, good first issue, needs information, sqlite
