Repository photoview/photoview, pull requests merged in 2024-08, with the labels that each got.

#1008 Bump 'crypto' and 'gorm' versions based on Dependabot PRs
  api/go.mod
  api/go.sum
Labels: API, dependencies, go

#1003 Add scripts for unit tests with all databases.
  .dockerignore
  .github/mysql.testing.env
  .github/postgres.testing.env
  .github/sqlite.testing.env
  .github/workflows/tests.yml
  .gitignore
  Dockerfile
  README.md
  dev-compose.yaml
  scripts/install_build_dependencies.sh
  scripts/install_runtime_dependencies.sh
Labels: documentation, API, docker

#1014 API server listens with the address of `PHOTOVIEW_LISTEN_IP`.
  api/server.go
  dev-compose.yaml
Labels: bug, API, high priority

#1015 Bump `crypto` and `image` versions in /api
  api/go.mod
  api/go.sum
Labels: dependencies, high priority, go

#1024 Add support for GIF images
  api/scanner/media_type/media_type.go
Labels: good first issue, scanner, go, improvement

#1025 Fix release version and date in UI.
  .github/workflows/build.yml
  Dockerfile
  README.md
Labels: bug, UI

#1027 Fix the default value of BUILD_DATE.
  Dockerfile
Labels: UI

#1021 Switch to Debian testing and `imagemagick`.
  .github/workflows/build.yml
  Dockerfile
  README.md
  api/go.mod
  api/go.sum
  api/scanner/media_encoding/encode_photo.go
  api/scanner/media_encoding/executable_worker/executable_worker.go
  api/scanner/media_encoding/executable_worker/executable_worker_test.go
  api/scanner/media_encoding/executable_worker/magic_worker_test.go
  api/scanner/media_encoding/executable_worker/testdata/bin/convert
  api/scanner/media_type/media_type.go
  api/utils/endpoints.go
  api/utils/throttle.go
  scripts/apt/debian-testing.sources
  scripts/apt/default.pref
  scripts/install_build_dependencies.sh
  scripts/install_runtime_dependencies.sh
Labels: dependencies, docker, high priority, improvement
