Repository photoview/photoview, pull requests merged in 2024-06, with the labels that each got.

#963 Update the healthcheck command for MariaDB container
  .gitignore
  docker-compose example/docker-compose.example.yml
  docker-compose example/docker-compose.minimal.example.yml
Labels: good first issue, dependencies, docker, high priority

#964 Fix typo in the `serviceWorkerRegistration.ts`
  ui/src/serviceWorkerRegistration.ts
Labels: bug, good first issue, UI, javascript

#972 Urgent small fixes in the Dockerfile and Compose configs
  Dockerfile
  README.md
  docker-compose example/Makefile
Labels: docker, high priority, improvement

#962 Optimize user's album filter. #705
  api/graphql/models/user.go
Labels: discussion, sqlite, pending response, go

#976 Bump go version and modules.
  .github/workflows/tests.yml
  Dockerfile
  api/go.mod
  api/go.sum
  scripts/install_build_dependencies.sh
  scripts/set_go_env.sh
Labels: API, dependencies, docker, high priority, go

#980 Update the minimal GO version for API module
  .github/workflows/tests.yml
  api/go.mod
Labels: API, dependencies, go, improvement
