Repository photoview/photoview, pull requests merged in 2024-10, with the labels that each got.

#1028 Update GitHub workflows with various improvements
  .dockleignore
  .github/dependabot.yml
  .github/workflows/build.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/dependencies.yml
  .github/workflows/tests.yml
  .hadolint.yaml
  api/.golangci.yml
Labels: API, UI, dependencies, docker, high priority, go, javascript, MySQL/MariaDB, PostgreSQL, improvement

#1070 Bump github.com/vektah/gqlparser/v2 from 2.5.16 to 2.5.17 in /api
  api/go.mod
  api/go.sum
Labels: API, dependencies, go

#1072 Fix scheduled Docker image build for latest tag
  .github/workflows/build.yml
Labels: bug, docker, high priority

#1084 Fix `ESLint` step in UI testing job and add CodeCov tokens
  .github/workflows/tests.yml
  ui/package.json
Labels: bug, UI, high priority, javascript

#1086 Fix ESLint step in CI - part 2
  .github/workflows/tests.yml
  docker-compose example/docker-compose.example.yml
  docker-compose example/docker-compose.minimal.example.yml
  ui/package-lock.json
  ui/package.json
Labels: bug, UI, javascript

#1073 Refactoring part 2.1: Long func refactoring in `database`
  api/database/database.go
  api/database/migration_exif.go
  api/database/migrations/exif_invalid_gps.go
Labels: API, go, improvement

#1075 Refactoring part 2.3: Long func refactoring in `graphql/models`
  api/graphql/models/actions/album_actions.go
  api/graphql/models/actions/media_actions.go
  api/graphql/models/actions/search_actions.go
  api/graphql/models/actions/share_token_actions.go
  api/graphql/models/actions/timeline_actions.go
  api/graphql/models/actions/user_actions.go
  api/graphql/models/media.go
  api/graphql/models/user.go
Labels: API, go, improvement

#1082 Refactoring part 2.10: Long func refactoring in `scanner/scanner_tasks`
  api/scanner/scanner_tasks/cleanup_tasks/media_cleanup_task.go
  api/scanner/scanner_tasks/face_detection_task.go
  api/scanner/scanner_tasks/notification_task.go
  api/scanner/scanner_tasks/scanner_tasks.go
  api/scanner/scanner_tasks/video_metadata_task.go
Labels: scanner, go, improvement

#1094 Bump a list of GO dependencies
  api/go.mod
  api/go.sum
Labels: API, dependencies, go

#1076 Refactoring part 2.4: Long func refactoring in `graphql/resolvers`
  api/graphql/resolvers/album.go
  api/graphql/resolvers/faces.go
  api/graphql/resolvers/media.go
  api/graphql/resolvers/mediaGeoJson.go
  api/graphql/resolvers/scanner.go
  api/graphql/resolvers/search.go
  api/graphql/resolvers/share_token.go
  api/graphql/resolvers/thumbnails.go
  api/graphql/resolvers/timeline.go
  api/graphql/resolvers/user.go
Labels: API, go, improvement

#1056 Custom codec when converting videos.
  Dockerfile
  README.md
  api/example.env
  api/scanner/media_encoding/executable_worker/executable_worker.go
  api/scanner/media_encoding/executable_worker/executable_worker_test.go
  api/scanner/media_encoding/executable_worker/ffmpeg_cli.go
  api/scanner/media_encoding/executable_worker/ffmpeg_cli_test.go
  api/scanner/media_encoding/executable_worker/testdata/bin/ffmpeg
  api/scanner/media_encoding/executable_worker/testdata/bin/ffprobe
  api/scanner/media_type/media_type.go
  api/scanner/scanner_tasks/processing_tasks/process_video_task.go
  api/utils/environment_variables.go
  dev-compose.yaml
  docker-compose example/docker-compose.example.yml
  docker-compose example/example.env
Labels: API

#1090 Cleanup deps.
  dependencies/build_imagemagick.sh
  dependencies/build_libheif.sh
Labels: dependencies

#1100 Bump github.com/vektah/gqlparser/v2 from 2.5.17 to 2.5.18 in /api
  api/go.mod
  api/go.sum
Labels: API, dependencies, high priority, go, security

#1096 Process jpgs if raw processing is disabled.
  api/scanner/media_encoding/executable_worker/executable_worker_test.go
  api/scanner/media_encoding/executable_worker/ffmpeg_cli_test.go
  api/scanner/media_encoding/executable_worker/magick_cli_test.go
  api/scanner/scanner_tasks/processing_tasks/counterpart_files_task.go
  api/scanner/scanner_tasks/processing_tasks/counterpart_files_task_test.go
  api/scanner/test_data/fake_media/file.unknown
  api/scanner/test_data/fake_media/fujifilm_raw.jpg
  api/scanner/test_data/fake_media/fujifilm_raw.raf
  api/scanner/test_data/fake_media/standalone.jpg
  api/test_utils/env.go
  api/test_utils/env_test.go
Labels: API, scanner
