Repository photoview/photoview, pull requests merged in 2024-07, with the labels that each got.

#983 order root albums by path on settings page
  api/graphql/resolvers/user.go
  api/scanner/scanner_user.go
Labels: API, UI, go, improvement

#988 Remove loading env from tests.
  api/database/migrations/exif_invalid_gps_test.go
  api/database/migrations/migrations_test.go
Labels: API, sqlite, go, MySQL/MariaDB, PostgreSQL, improvement

#989 Add nodemon for ui.
  ui/nodemon.json
  ui/package-lock.json
  ui/package.json
Labels: UI, improvement

#993 Building scripts for apt/homebrew platforms.
  Dockerfile
  scripts/apt/install_build_dependencies.sh
  scripts/apt/install_runtime_dependencies.sh
  scripts/apt/set_compiler_env.sh
  scripts/homebrew/install_build_dependencies.sh
  scripts/homebrew/install_runtime_dependencies.sh
  scripts/homebrew/set_compiler_env.sh
Labels: dependencies

#943 Create CONTRIBUTING.md
  CONTRIBUTING.md
  README.md
Labels: documentation, discussion

#995 Update Set up development environment.
  .gitignore
  Dockerfile
  README.md
  api/example.env
  scripts/homebrew/install_build_dependencies.sh
  scripts/homebrew/install_runtime_dependencies.sh
  scripts/homebrew/set_compiler_env.sh
  scripts/install_build_dependencies.sh
  scripts/install_runtime_dependencies.sh
  scripts/set_compiler_env.sh
Labels: documentation, dependencies

#997 Add `Set up Docker development environment` in README.md
  Dockerfile
  README.md
  api/example.env
  dev-compose.yaml
  ui/package.json
Labels: documentation, docker
