Repository photoview/photoview, pull requests merged in 2024-12, with the labels that each got.

#1137 Another fix for the scheduled image build workflow for tag case
  .github/workflows/build.yml
Labels: bug, docker, github_actions

#1138 Bump several API dependencies to the latest versions
  api/go.mod
  api/go.sum
  api/graphql/resolvers/album.go
  api/graphql/resolvers/faces.go
  api/graphql/resolvers/media.go
  api/graphql/resolvers/media_geo_json.go
  api/graphql/resolvers/notification.go
  api/graphql/resolvers/root.go
  api/graphql/resolvers/scanner.go
  api/graphql/resolvers/search.go
  api/graphql/resolvers/share_token.go
  api/graphql/resolvers/site_info.go
  api/graphql/resolvers/thumbnails.go
  api/graphql/resolvers/timeline.go
  api/graphql/resolvers/user.go
Labels: API, dependencies, go

#1141 Bump the `anchore/scan-action` to the version 6 in the Code analysis workflow
  .github/workflows/codeql-analysis.yml
Labels: github_actions

#1140 Bump `crypto`, `go-ffprobe`, and `sqlite` GO dependencies in /api
  api/go.mod
  api/go.sum
Labels: API, dependencies, go

#1124 Use libmagic to identify files type.
  api/go.mod
  api/go.sum
  api/scanner/media_encoding/encode_photo.go
  api/scanner/media_type/counterpart.go
  api/scanner/media_type/counterpart_test.go
  api/scanner/media_type/magic.go
  api/scanner/media_type/magic_test.go
  api/scanner/media_type/media_type.go
  api/scanner/media_type/media_type_test.go
  api/scanner/scanner_cache/cache.go
  api/scanner/scanner_tasks/processing_tasks/counterpart_files_task.go
  api/scanner/scanner_tasks/processing_tasks/counterpart_files_task_test.go
  api/scanner/scanner_tasks/processing_tasks/process_video_task.go
  api/scanner/scanner_tasks/processing_tasks/processing_helpers.go
  api/scanner/scanner_tasks/processing_tasks/sidecar_task.go
  scripts/benchmark_api.sh
  scripts/install_build_dependencies.sh
  scripts/install_runtime_dependencies.sh
  scripts/test_api_coverage.sh
Labels: API, go, improvement

#1147 Bump `gqlgen` in API to the latest version and regenerate the code
  api/go.mod
  api/go.sum
  api/graphql/generated.go
  api/graphql/models/generated.go
  api/graphql/resolvers/album.go
  api/graphql/resolvers/faces.go
  api/graphql/resolvers/media.go
  api/graphql/resolvers/media_geo_json.go
  api/graphql/resolvers/notification.go
  api/graphql/resolvers/root.go
  api/graphql/resolvers/scanner.go
  api/graphql/resolvers/search.go
  api/graphql/resolvers/share_token.go
  api/graphql/resolvers/site_info.go
  api/graphql/resolvers/thumbnails.go
  api/graphql/resolvers/timeline.go
  api/graphql/resolvers/user.go
Labels: API, dependencies, go
