Repository photoview/photoview, pull requests merged in 2024-11, with the labels that each got.

#1105 Fix gqlgen
  .github/workflows/build.yml
  .github/workflows/tests.yml
  Dockerfile
  api/gqlgen.yml
  api/graphql/generated.go
  api/graphql/models/generated.go
  api/graphql/resolvers/album.go
  api/graphql/resolvers/faces.generated.go
  api/graphql/resolvers/faces.go
  api/graphql/resolvers/faces.util.go
  api/graphql/resolvers/media.go
  api/graphql/resolvers/media.graphql
  api/graphql/resolvers/media_geo_json.generated.go
  api/graphql/resolvers/media_geo_json.go
  api/graphql/resolvers/media_geo_json.util.go
  api/graphql/resolvers/notification.go
  api/graphql/resolvers/notification.graphql
  api/graphql/resolvers/resolver.go
  api/graphql/resolvers/root.go
  api/graphql/resolvers/root.graphql
  api/graphql/resolvers/scanner.go
  api/graphql/resolvers/scanner.graphql
  api/graphql/resolvers/schema.graphql
  api/graphql/resolvers/search.go
  api/graphql/resolvers/search.graphql
  api/graphql/resolvers/share_token.go
  api/graphql/resolvers/share_token.graphql
  api/graphql/resolvers/site_info.go
  api/graphql/resolvers/site_info.graphql
  api/graphql/resolvers/thumbnails.go
  api/graphql/resolvers/thumbnails.graphql
  api/graphql/resolvers/timeline.go
  api/graphql/resolvers/timeline.graphql
  api/graphql/resolvers/user.go
  api/graphql/resolvers/user.graphql
  api/graphql/resolvers/user.util.go
  scripts/test_all.sh
  scripts/test_api_coverage.sh
  scripts/test_is_generated_code_in_sync.sh
Labels: API, go, github_actions

#1108 Push `dependencies` image to the new registry
  .github/workflows/dependencies.yml
Labels: docker, improvement, security

#1109 Switch all images to the new registry
  .github/workflows/build.yml
  Dockerfile
  README.md
  docker-compose example/docker-compose.example.yml
  docker-compose example/docker-compose.minimal.example.yml
Labels: docker, improvement, security

#1118 ImageMagick: Remove deprecated `convert` and add required `-auto-orient` flags
  api/scanner/media_encoding/executable_worker/magick_cli.go
Labels: bug, API, scanner, dependencies, high priority

#1117 Bump `gqlparser`, `crypto`, `image`, and their deps to the latest versions
  api/go.mod
  api/go.sum
Labels: API, dependencies, go

#1119 Update Language Label for Polish in Language Preferences
  ui/src/Pages/SettingsPage/UserPreferences.tsx
Labels: bug, good first issue, UI, javascript

#1120 Fix the config builder job for scheduled docker build workflow
  .github/workflows/build.yml
Labels: bug, docker, github_actions

#1123 Bump `gqlgen` and its indirect dependencies in API
  api/go.mod
  api/go.sum
Labels: dependencies, go

#1121 Bump codecov-action in Tests workflow from 4 to 5
  .github/workflows/tests.yml
Labels: dependencies, github_actions

#1125 Fix imagemagick doesn't have any dep when cross-compiling (arm64, arm/v*).
  dependencies/build_libheif.sh
  dependencies/prepare.sh
  scripts/install_runtime_dependencies.sh
Labels: bug, API, dependencies, high priority

#1126 Add build deps of openh264.
  scripts/install_build_dependencies.sh
Labels: bug, dependencies, high priority

#1129 Remove `continue-on-error: true` because it hides errors.
  .github/workflows/tests.yml
  api/graphql/generated.go
  api/graphql/resolvers/album.go
  api/graphql/resolvers/faces.go
  api/graphql/resolvers/media.go
  api/graphql/resolvers/media_geo_json.go
  api/graphql/resolvers/notification.go
  api/graphql/resolvers/root.go
  api/graphql/resolvers/scanner.go
  api/graphql/resolvers/search.go
  api/graphql/resolvers/share_token.go
  api/graphql/resolvers/site_info.go
  api/graphql/resolvers/thumbnails.go
  api/graphql/resolvers/timeline.go
  api/graphql/resolvers/user.go
  api/scanner/media_encoding/executable_worker/magick_cli_test.go
Labels: high priority, github_actions

#1128 Refactor `auth.go` and `media.go` to remove deprecated dependencies
  api/go.mod
  api/graphql/auth/auth.go
  api/graphql/resolvers/media.go
Labels: good first issue, API, go, improvement

#1130 Add `log` package for better logging level.
  api/log/default.go
  api/scanner/media_encoding/executable_worker/executable_worker.go
  api/scanner/media_encoding/executable_worker/executable_worker_test.go
  api/scanner/media_encoding/executable_worker/ffmpeg_cli.go
  api/scanner/media_encoding/executable_worker/ffmpeg_cli_test.go
  api/scanner/media_encoding/executable_worker/magick_cli.go
  api/scanner/media_encoding/executable_worker/magick_cli_test.go
  api/scanner/media_encoding/executable_worker/testdata/bin/magick
  api/scanner/scanner_tasks/processing_tasks/counterpart_files_task_test.go
  api/server.go
  api/test_utils/test_env/env.go
  api/test_utils/test_env/env_test.go
Labels: API, go

#1133 A new try to fix the building tagged image in the scope of scheduled run
  .github/workflows/build.yml
Labels: bug, docker, github_actions

#1135 Bump `gorm.io/driver/postgres` from 1.5.9 to 1.5.10 in /api
  api/go.mod
  api/go.sum
Labels: API, dependencies, go, PostgreSQL

#1131 Include a group of small but real media files for testing.
  api/graphql/models/media_test.go
  api/scanner/media_encoding/executable_worker/executable_worker_test.go
  api/scanner/media_encoding/executable_worker/ffmpeg_cli_test.go
  api/scanner/media_encoding/executable_worker/magick_cli_test.go
  api/scanner/media_encoding/executable_worker/test_data/mock_bin/ffmpeg
  api/scanner/media_encoding/executable_worker/test_data/mock_bin/ffprobe
  api/scanner/media_encoding/executable_worker/test_data/mock_bin/magick
  api/scanner/scanner_album_test.go
  api/scanner/scanner_tasks/cleanup_tasks/cleanup_media_test.go
  api/scanner/scanner_tasks/processing_tasks/counterpart_files_task_test.go
  api/scanner/scanner_test.go
  api/scanner/test_media/fake_media/file.unknown
  api/scanner/test_media/fake_media/fujifilm_raw.jpg
  api/scanner/test_media/fake_media/fujifilm_raw.raf
  api/scanner/test_media/fake_media/standalone.jpg
  api/scanner/test_media/library/buttercup_close_summer_yellow.jpg
  api/scanner/test_media/library/faces/boy1.jpg
  api/scanner/test_media/library/faces/boy2.jpg
  api/scanner/test_media/library/faces/girl_black_hair2.jpg
  api/scanner/test_media/library/faces/girl_blond1.jpg
  api/scanner/test_media/library/faces/girl_blond2.jpg
  api/scanner/test_media/library/faces/girl_blond3.jpg
  api/scanner/test_media/library/lilac_lilac_bush_lilac.jpg
  api/scanner/test_media/library/mount_merapi_volcano_indonesia.jpg
  api/scanner/test_media/real_media/avi.avi
  api/scanner/test_media/real_media/bmp.bmp
  api/scanner/test_media/real_media/file.pdf
  api/scanner/test_media/real_media/gif.gif
  api/scanner/test_media/real_media/heif.heif
  api/scanner/test_media/real_media/jpeg.jpg
  api/scanner/test_media/real_media/jpeg2000.jp2
  api/scanner/test_media/real_media/jpg_with_file.jpg
  api/scanner/test_media/real_media/jpg_with_file.pdf
  api/scanner/test_media/real_media/mkv.mkv
  api/scanner/test_media/real_media/mp4.mp4
  api/scanner/test_media/real_media/mpeg.mpg
  api/scanner/test_media/real_media/ogg.ogg
  api/scanner/test_media/real_media/png.png
  api/scanner/test_media/real_media/quicktime.mov
  api/scanner/test_media/real_media/raw_with_file.pdf
  api/scanner/test_media/real_media/raw_with_file.tiff
  api/scanner/test_media/real_media/raw_with_jpg.jpg
  api/scanner/test_media/real_media/raw_with_jpg.tiff
  api/scanner/test_media/real_media/standalone_jpg.jpg
  api/scanner/test_media/real_media/standalone_raw.tiff
  api/scanner/test_media/real_media/tiff.tiff
  api/scanner/test_media/real_media/webm.webm
  api/scanner/test_media/real_media/webp.webp
  api/scanner/test_media/real_media/wmv.wmv
  api/test_utils/env.go
  api/test_utils/env_test.go
  api/test_utils/scanner/scanner_helpers.go
Labels: API, scanner
