Repository photoview/photoview, pull requests merged in 2024-09, with the labels that each got.

#1033 Use alpine as base images.
  .github/workflows/build.yml
  Dockerfile
  README.md
  dev-compose.yaml
  scripts/apt/debian-testing.sources
  scripts/apt/default.pref
  scripts/install_build_dependencies.sh
  scripts/install_runtime_dependencies.sh
  scripts/set_compiler_env.sh
Labels: bug, documentation, API, UI, docker, go

#1035 Update to magick 7 in alpine.
  api/scanner/media_encoding/executable_worker/executable_worker.go
  api/scanner/media_encoding/executable_worker/magick_worker_test.go
  api/scanner/media_encoding/executable_worker/testdata/bin/magick
Labels: API, scanner, dependencies

#1040 Back to `bookworm`, rollback to 6c5c304
  Dockerfile
  README.md
  api/go.mod
  api/go.sum
  api/scanner/media_encoding/encode_photo.go
  api/scanner/media_encoding/executable_worker/executable_worker.go
  api/scanner/media_encoding/executable_worker/magick_worker_test.go
  api/scanner/media_encoding/executable_worker/testdata/bin/magick
  api/scanner/media_type/media_type.go
  dev-compose.yaml
  scripts/install_build_dependencies.sh
  scripts/install_runtime_dependencies.sh
  scripts/set_compiler_env.sh
Labels: dependencies, docker

#1044 Rollback uid and gid to 999.
  README.md
Labels: docker

#1046 Bump to golang 1.23
  Dockerfile
Labels: API, dependencies, docker, go

#1041 docs: Add reminder to url encode postgres password env variable
  README.md
  docker-compose example/example.env
Labels: good first issue, API, docker, high priority, MySQL/MariaDB, PostgreSQL, improvement, hosted directly, security

#1047 Add build workflow for workers.
  .github/workflows/dependencies.yml
  dependencies/Dockerfile
  dependencies/README.md
  dependencies/build_imagemagick.sh
  dependencies/build_libheif.sh
  dependencies/build_libraw.sh
  dependencies/download_jellyfin-ffmpeg.sh
  dependencies/output.sh
  dependencies/prepare.sh
Labels: dependencies

#1048 Bump several GO dependencies to new versions
  api/go.mod
  api/go.sum
Labels: API, dependencies, high priority, go

#1049 Fix cache options.
  .github/workflows/dependencies.yml
  dependencies/README.md
Labels: bug, dependencies, docker

#1050 Fix cache flag in dependencies workflow.
  .github/workflows/dependencies.yml
Labels: dependencies

#1053 Use self-building dependencies and update the code with imagemagick.
  .github/workflows/build.yml
  .github/workflows/dependencies.yml
  Dockerfile
  api/go.mod
  api/go.sum
  api/scanner/media_encoding/encode_photo.go
  api/scanner/media_encoding/executable_worker/executable_worker.go
  api/scanner/media_encoding/executable_worker/executable_worker_test.go
  api/scanner/media_encoding/executable_worker/magick_cli.go
  api/scanner/media_encoding/executable_worker/magick_cli_test.go
  api/scanner/media_encoding/executable_worker/testdata/bin/magick
  api/scanner/media_type/media_type.go
  dependencies/prepare.sh
  dev-compose.yaml
  scripts/install_build_dependencies.sh
  scripts/install_runtime_dependencies.sh
  scripts/set_compiler_env.sh
Labels: API, dependencies, arm, go

#1055 Update gqlgen and fix the code.
  api/go.mod
  api/go.sum
  api/graphql/endpoint/graphql_endpoint.go
Labels: API

#1061 Bump github.com/99designs/gqlgen from 0.17.53 to 0.17.54 in /api
  api/go.mod
  api/go.sum
Labels: good first issue, API, dependencies, go

#1064 Refactoring part 1: Fix some annoying linter warnings in API code
  Dockerfile
  api/database/database.go
  api/database/migration_exif.go
  api/graphql/models/actions/album_actions.go
  api/graphql/models/actions/album_actions_test.go
  api/graphql/models/actions/search_actions.go
  api/graphql/models/actions/timeline_actions.go
  api/graphql/models/album_test.go
  api/graphql/models/face_detection.go
  api/graphql/models/media_test.go
  api/graphql/models/user.go
  api/graphql/models/user_test.go
  api/graphql/resolvers/faces.go
  api/routes/authenticate_routes.go
  api/routes/authenticate_routes_test.go
  api/routes/downloads.go
  api/routes/photos.go
  api/routes/videos.go
  api/scanner/exif/exif_parser_external.go
  api/scanner/exif/exif_parser_internal.go
  api/scanner/media_encoding/executable_worker/executable_worker_test.go
  api/scanner/media_encoding/executable_worker/magick_cli_test.go
  api/scanner/periodic_scanner/periodic_scanner.go
  api/scanner/scanner_album.go
  api/scanner/scanner_album_test.go
  api/scanner/scanner_cache/cache.go
  api/scanner/scanner_media.go
  api/scanner/scanner_queue/queue.go
  api/scanner/scanner_queue/queue_test.go
  api/scanner/scanner_tasks/cleanup_tasks/cleanup_media_test.go
  api/scanner/scanner_tasks/cleanup_tasks/media_cleanup_task.go
  api/scanner/scanner_tasks/processing_tasks/process_photo_task.go
  api/scanner/scanner_tasks/processing_tasks/process_video_task.go
  api/scanner/scanner_tasks/processing_tasks/processing_functions.go
  api/scanner/scanner_test.go
  api/scanner/scanner_user.go
  api/utils/media_cache.go
  api/utils/utils_test.go
Labels: good first issue, API, scanner, go, improvement

#1067 Build libheif with all dependencies in one so file.
  dependencies/build_imagemagick.sh
  dependencies/build_libheif.sh
  dependencies/build_libraw.sh
Labels: dependencies

#1066 Include all heif plugins
  Dockerfile
  scripts/install_build_dependencies.sh
  scripts/install_runtime_dependencies.sh
Labels: bug, API, scanner, dependencies
