Repository photoview/photoview, pull requests merged in 2025-08, with the labels that each got.

#1279 Avoid all os.Exit and log.Fatal
  api/test_utils/integration_setup.go
  api/utils/endpoints.go
  api/utils/utils.go
Labels: API, go, improvement

#1285 Update dependencies with Debian trixie
  .github/workflows/dependencies.yml
  dependencies/Dockerfile
  dependencies/download_jellyfin-ffmpeg.sh
  dependencies/prepare.sh
Labels: API, dependencies, docker

#1281 Bump PostgreSQL image to version 17; add the auto-migrate preparation service
  README.md
  docker-compose example/docker-compose.example.yml
Labels: dependencies, docker, PostgreSQL, improvement

#1289 Set the new PostgreSQL version in dev-compose and API tests
  .github/workflows/tests.yml
  dev-compose.yaml
Labels: API, dependencies, docker, PostgreSQL, github_actions

#1292 Bump `testify` version in API
  api/go.mod
  api/go.sum
Labels: API, dependencies, go

#1293 Remove internal exif
  api/go.mod
  api/go.sum
  api/scanner/exif/exif.go
  api/scanner/exif/exif_parser_external.go
  api/scanner/exif/exif_parser_internal.go
  api/scanner/exif/exif_test.go
Labels: API, scanner, dependencies, go

#1294 Several fixes, detected by the bot in the `dataloader/mediaURLLoader.go`
  api/dataloader/mediaURLLoader.go
Labels: bug, API, go
