Repository photoview/photoview, pull requests merged in 2025-02, with the labels that each got.

#1166 Bump `gqlgen` and `gqlparser` in /api to the latest versions
  api/go.mod
  api/go.sum
  api/graphql/generated.go
  api/graphql/resolvers/album.go
  api/graphql/resolvers/faces.go
  api/graphql/resolvers/media.go
  api/graphql/resolvers/media_geo_json.go
  api/graphql/resolvers/notification.go
  api/graphql/resolvers/root.go
  api/graphql/resolvers/scanner.go
  api/graphql/resolvers/search.go
  api/graphql/resolvers/share_token.go
  api/graphql/resolvers/site_info.go
  api/graphql/resolvers/thumbnails.go
  api/graphql/resolvers/timeline.go
  api/graphql/resolvers/user.go
Labels: API, dependencies, high priority, go

#1158 improved Thumbnail generation performance
  api/graphql/models/album.go
Labels: API, sqlite, go, MySQL/MariaDB, PostgreSQL, improvement, performance

#1167 Bump 3 API dependencies
  api/go.mod
  api/go.sum
Labels: API, dependencies, go

#1170 Bump `crypto` and `sys` dependencies in API to new minor versions
  api/go.mod
  api/go.sum
Labels: API, dependencies, go

#1172 Bump golang from 1.23-bookworm to 1.24-bookworm, as well as `gqlgen`.
  Dockerfile
  api/go.mod
  api/go.sum
  api/graphql/resolvers/album.go
  api/graphql/resolvers/faces.go
  api/graphql/resolvers/media.go
  api/graphql/resolvers/media_geo_json.go
  api/graphql/resolvers/notification.go
  api/graphql/resolvers/resolver.go
  api/graphql/resolvers/root.go
  api/graphql/resolvers/scanner.go
  api/graphql/resolvers/search.go
  api/graphql/resolvers/share_token.go
  api/graphql/resolvers/site_info.go
  api/graphql/resolvers/thumbnails.go
  api/graphql/resolvers/timeline.go
  api/graphql/resolvers/user.go
  api/tools/tools.go
Labels: API, go

#1174 Bump `github.com/go-sql-driver/mysql` and `golang.org/x/crypto` to the latest versions
  api/go.mod
  api/go.sum
Labels: API, dependencies, go
