Repository photoview/photoview, pull requests merged in 2025-05, with the labels that each got.

#1198 Fix the incorrect thumbnails for albums issue
  api/graphql/models/album.go
  api/graphql/models/album_test.go
Labels: bug, API, go, PostgreSQL

#1199 More granular `media-cache` folder permissions
  docker-compose example/Makefile
  docker-compose example/docker-compose.example.yml
  docker-compose example/docker-compose.minimal.example.yml
Labels: bug, docker, security

#1197 Bump GQLgen, GQLparser and GORM versions in API
  api/go.mod
  api/go.sum
  api/graphql/generated.go
  api/graphql/resolvers/album.go
  api/graphql/resolvers/faces.go
  api/graphql/resolvers/media.go
  api/graphql/resolvers/media_geo_json.go
  api/graphql/resolvers/notification.go
  api/graphql/resolvers/root.go
  api/graphql/resolvers/scanner.go
  api/graphql/resolvers/search.go
  api/graphql/resolvers/share_token.go
  api/graphql/resolvers/site_info.go
  api/graphql/resolvers/thumbnails.go
  api/graphql/resolvers/timeline.go
  api/graphql/resolvers/user.go
Labels: API, dependencies, go

#1201 Handle photo not found case in API routes
  api/routes/photos.go
  api/routes/photos_test.go
  api/scanner/scanner_media.go
Labels: bug, API, go

#1200 Remove Thumbnail Preferences.
  api/database/database.go
  api/graphql/generated.go
  api/graphql/models/generated.go
  api/graphql/models/site_info.go
  api/graphql/models/site_info_test.go
  api/graphql/resolvers/site_info.graphql
  api/graphql/resolvers/thumbnails.go
  api/graphql/resolvers/thumbnails.graphql
  api/scanner/media_encoding/encode_photo.go
  ui/src/Pages/SettingsPage/SettingsPage.tsx
  ui/src/Pages/SettingsPage/ThumbnailPreferences.test.tsx
  ui/src/Pages/SettingsPage/ThumbnailPreferences.tsx
  ui/src/Pages/SettingsPage/__generated__/setThumbnailMethodMutation.ts
  ui/src/Pages/SettingsPage/__generated__/thumbnailMethodQuery.ts
  ui/src/__generated__/globalTypes.ts
Labels: API, UI

#1203 Bump several API dependencies to their latest versions
  api/go.mod
  api/go.sum
Labels: API, dependencies, go

#1206 Drop linux/arm/v7
  .github/workflows/build.yml
  .github/workflows/dependencies.yml
Labels: dependencies

#1204 Use `magick` generating thumbnails.
  api/go.mod
  api/go.sum
  api/graphql/models/face_detection.go
  api/graphql/models/media_test.go
  api/scanner/face_detection/face_detector_impl.go
  api/scanner/media_encoding/encode_photo.go
  api/scanner/media_encoding/executable_worker/executable_worker_test.go
  api/scanner/media_encoding/executable_worker/ffmpeg_cli_test.go
  api/scanner/media_encoding/executable_worker/magick_cli.go
  api/scanner/media_encoding/executable_worker/magick_cli_test.go
  api/scanner/media_encoding/executable_worker/test_data/mock_bin/magick
  api/scanner/media_encoding/media_utils/photo_dimensions.go
  api/scanner/perf_test.go
  api/scanner/scanner_queue/queue.go
  api/scanner/scanner_tasks/processing_tasks/counterpart_files_task_test.go
  api/scanner/scanner_tasks/processing_tasks/process_photo_task.go
  api/scanner/scanner_tasks/processing_tasks/process_video_task.go
  api/scanner/scanner_tasks/processing_tasks/processing_functions.go
  api/scanner/scanner_tasks/processing_tasks/processing_helpers.go
  api/scanner/scanner_test.go
  api/scanner/test_media/bad_media/recoverable_bad_rst_marker.jpg
  api/scanner/test_media/bad_media/unrecoverable_unknown_format.jpg
  api/scanner/test_media/real_media/gif.gif
  api/scanner/test_media/real_media/webp.webp
  api/scanner/thumbnail_blurhash.go
  api/test_utils/env.go
  api/test_utils/env_test.go
  scripts/install_build_dependencies.sh
  scripts/set_compiler_env.sh
Labels: API, go

#1209 Include MagicWand library in the `dependency` image.
  Dockerfile
  dependencies/build_imagemagick.sh
  dependencies/build_libheif.sh
  dependencies/build_libraw.sh
  dependencies/output.sh
  dependencies/prepare.sh
Labels: API, dependencies, docker, improvement
