Repository photoview/photoview, pull requests merged in 2025-07, with the labels that each got.

#1239 Fix GitHub commit passing, UI build and cache for different purposes
  .github/workflows/build.yml
  .github/workflows/tests.yml
  Dockerfile
Labels: bug, docker, github_actions

#1241 Fix scanner test.
  Dockerfile
  api/scanner/media_encoding/executable_worker/executable_worker_test.go
  api/scanner/perf_test.go
  api/scanner/scanner_test.go
  api/scanner/test_media/real_media/avi.avi
  api/scanner/test_media/real_media/mp4.mp4
  api/scanner/test_media/real_media/wmv.wmv
  api/test_utils/scanner/scanner_helpers.go
Labels: bug, API, scanner, go

#1244 Fix failed build for `v2.4.0` version
  .github/workflows/build.yml
Labels: bug, docker

#1243 Non-fork face detection, avoiding a race condition.
  api/scanner/scanner_tasks/face_detection_task.go
  api/scanner/scanner_test.go
Labels: bug, API, scanner, face recognition, go, performance

#1247 Bump several API deps
  api/go.mod
  api/go.sum
Labels: API, dependencies, go

#1249 Update the orientation checking. Add orientation tests.
  api/scanner/periodic_scanner/periodic_scanner_test.go
  api/scanner/scanner_test.go
  api/scanner/test_media/orient/ensure_test.go
  api/scanner/test_media/orient/left_arrow_normal_nonweb.tiff
  api/scanner/test_media/orient/left_arrow_normal_web.jpg
  api/scanner/test_media/orient/up_arrow_90cw_nonweb.tiff
  api/scanner/test_media/orient/up_arrow_90cw_web.jpg
Labels: API, scanner, go, improvement

#1258 Improve `*TestMain` to handle the exit code.
  api/database/migrations/migrations_test.go
  api/graphql/auth/auth_test.go
  api/graphql/models/actions/actions_test.go
  api/graphql/models/models_test.go
  api/routes/photos.go
  api/routes/routes_test.go
  api/scanner/exif/exif_test.go
  api/scanner/media_type/counterpart_test.go
  api/scanner/media_type/magic_test.go
  api/scanner/media_type/media_type_test.go
  api/scanner/periodic_scanner/periodic_scanner_test.go
  api/scanner/scanner_tasks/cleanup_tasks/cleanup_media_test.go
  api/scanner/scanner_tasks/processing_tasks/counterpart_files_task_test.go
  api/scanner/scanner_test.go
  api/scanner/test_media/orient/ensure_test.go
  api/test_utils/env.go
  api/test_utils/env_test.go
  api/test_utils/integration_setup.go
  api/utils/utils_test.go
Labels: API, go

#1260 Fix: Exif parsers should accept longtitude up to 180 degrees
  api/scanner/exif/exif_parser_external.go
  api/scanner/exif/exif_parser_internal.go
Labels: bug, API, scanner

#1263 Bump GORM API dependency to a minor version
  api/go.mod
  api/go.sum
Labels: API, dependencies, go
