Repository photoview/photoview, pull requests merged in 2025-06, with the labels that each got.

#1212 Use Magickwand to handle images.
  Dockerfile
  api/go.mod
  api/go.sum
  api/scanner/media_encoding/encode_photo.go
  api/scanner/media_encoding/executable_worker/executable_worker.go
  api/scanner/media_encoding/executable_worker/magick_cli.go
  api/scanner/media_encoding/executable_worker/magick_cli_test.go
  api/scanner/media_encoding/executable_worker/magickwand.go
  api/scanner/perf_test.go
  api/scanner/scanner_test.go
  api/server.go
  api/test_utils/integration_setup.go
  scripts/install_build_dependencies.sh
  scripts/install_runtime_dependencies.sh
Labels: API, scanner, dependencies, improvement

#1216 Update log for passing attrs with context.
  .gitignore
  api/log/context.go
  api/log/context_test.go
  api/log/default.go
  api/scanner/media_encoding/executable_worker/executable_worker.go
  api/scanner/media_encoding/executable_worker/ffmpeg_cli.go
  api/scanner/media_encoding/executable_worker/magickwand.go
  api/scanner/media_type/magic.go
Labels: API, go, improvement

#1202 Refactor API video route
  api/routes/authenticate_routes.go
  api/routes/authenticate_routes_test.go
  api/routes/photos.go
  api/routes/photos_test.go
  api/routes/videos.go
  api/routes/videos_test.go
  api/scanner/scanner_media.go
  api/utils/media_cache.go
Labels: bug, API, go

#1220 Bump API deps to versions, released this week
  api/go.mod
  api/go.sum
  api/graphql/resolvers/album.go
  api/graphql/resolvers/faces.go
  api/graphql/resolvers/media.go
  api/graphql/resolvers/media_geo_json.go
  api/graphql/resolvers/notification.go
  api/graphql/resolvers/root.go
  api/graphql/resolvers/scanner.go
  api/graphql/resolvers/search.go
  api/graphql/resolvers/share_token.go
  api/graphql/resolvers/site_info.go
  api/graphql/resolvers/timeline.go
  api/graphql/resolvers/user.go
Labels: API, dependencies, go

#1221 Refactor Docker build workflows
  .github/workflows/build.yml
  .github/workflows/dependencies.yml
  .github/workflows/tests.yml
  Dockerfile
  dependencies/Dockerfile
  dependencies/README.md
  dependencies/build_imagemagick.sh
  dependencies/build_libheif.sh
  dependencies/build_libraw.sh
  dependencies/download_jellyfin-ffmpeg.sh
  dependencies/output.sh
  dependencies/prepare.sh
  ui/apollo.config.js
Labels: dependencies, docker, improvement, github_actions

#1229 Fix the local build of the dependencies image, including the debug image instructions
  .github/workflows/build.yml
  .github/workflows/tests.yml
  dependencies/Dockerfile
  dependencies/README.md
  dependencies/build_imagemagick.sh
  dependencies/build_libheif.sh
  dependencies/build_libraw.sh
  dependencies/download_jellyfin-ffmpeg.sh
  dependencies/prepare.sh
Labels: bug, dependencies, docker
